{% extends "/blog.html" %}

{% block title %}{% if unread %}Непрочитанные комментарии{% else %}Комментарии{% endif %} {{env.user.login}}{% endblock %}

{% block subheader %}
{% if unread %}
<a href="/comments">Комментарии</a>
<span class="unread-count active">{{unread_comments or 0}}</span>
{% else %}
<span class="active">Комментарии</span>
{% if unread_comments %}<a class="unread-count" href="/comments/unread">{{unread_comments or 0}}</a>{% endif %}
{% endif %}
{% if unread_comments %}
<a class="clear-unread-btn" href="/comments/clear?csrf_token={{csrf_token()}}" title="Отметить всё как прочитанное"></a>
{% endif %}
{% endblock %}
