{% if blacklist %}Ваш чорний список:
{% for u in blacklist %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if tags %}

Теги:
{% for tt in tags %}{% for t in tt.tags %}*{{t}}{% if not loop.last %}, {% endif %}{% endfor %}{% if tt.login %} користувача @{{tt.login}}{% endif %}{% if loop.last %}.{% else %};{% endif %}
{% endfor %}{% endif %}{% if not blacklist and not tags %}Ваш чорный список порожній.{% endif %}
