Користувач @{{user}} додав Ваш JID до переліку своїх акаунтів на https://{{settings.domain}}/ .
Якщо це були не Ви, просто проігнорируйте це повідомлення.
Якщо Вы бажаєте підтвердити додавання акаунту, надішліть з вже доданого акаунту наступну команду:

confirm {{code}}

Або ж перейдіть за посиланням: https://{{settings.domain}}/profile/accounts/confirm/{{code}}