@{{author}} рекомендував Ваш {% if comment_id %}коментар #{{post_id}}/{{comment_id}}{% else %}пост #{{post_id}}{% endif %}{% if text %}:
{{text}} (#{{post_id}}/{{rcid}})
https://{{settings.domain}}/{{post_id}}#{{rcid}}{% else %}
{% if comment_id %}https://{{settings.domain}}/{{post_id}}#{{comment_id}}{% else %}https://{{settings.domain}}/{{post_id}}{% endif %}{% endif %}