Вітаємо! Ви успішно зареєструвалися як @{{login}}. Що далі?

Спочатку можна переглянути пости на теми, які Вас цікавлять. Команда "*тег" покаже останні пости з цим тегом.

Для спрощення вводу деяких команд Ви можете увімкнути відображення у форматі XHTML-IM*, тоді базові команди можна буде вводити, лише клікаючи по посиланням. Для цього просто надішліть боту команду:
  set xhtml on

Для відключення цього режиму, відповідно
  set xhtml off

  * Не усі клиєнти розуміють цей формат. На теперішній час коректна работа гарантується лише у Psi+ та LeechCraft Azoth.

Можна просто почати писати — довільний текст створює пост.
Також можна додавати до постів теги. Наприклад:

**hello world, point
Привіт, я @{{login}}.

Також можна відправляти особисті повідомлення користувачу:
  P @username Я зареєструвався. На кого тут підписатися?

Підписатися на користувача можна за допомогою команди:
  S @username

Подивитися інформацію про користувача:
  @username

Пости мають символьні ідентифікатори. Щоб прочитати пост, потрібно просто відправити боту его ID:
  #abcdef

Написати комментар до поста:
  #abcdef не згодний з автором; життя має креаціоністські витоки.

Відповісти на коментар:
  #abcdef/1 які докази твоїм словам?

Видалити комментар:
  D #abcdef/5

Видалити пост:
  D #abcdef

Переглянути коментарі до поста:
  #abcdef++

#abcdef+ покаже лише 10 останніх комментарів.

Пости або коментарі можна рекомендувати:
  ! #abcdef/1 Подивіться, який креаціоніст.

Повний перелік команд Ви можете переглянути, надіславши боту команду help, або на цій сторінці: https://{{settings.domain}}/help/commands

Для того, щоб зайти на сайт під своїм ім'ям, надішліть боту команду login та перейдіть за посиланням.

Змінити налаштування можна тут: https://{{settings.domain}}/profile
