Хтось запитує відновлення паролю від Вашего акаунта. Якщо це були Ви, пройдіть за посиланням: https://{{settings.domain}}/remember/{{code}}
Якщо ні — просто проігноруйте це повідомлення.

Увага: за цим посиланням будь-хто може отримати доступ до Вашого акаунту без паролю. Нікому не давайте це посилання!