@{{login}}

{% if realname %}Ім'я: {{realname}}
{% endif %}{% if birthdate %}Дата народження: {{birthdate|strftime('%d.%m.%Y')}}
{% endif %}{% if location %}Місце: {{location}}
{% endif %}{% if homepage %}Сайт: {{homepage}}
{% endif %}{% if xmpp %}Jabber ID: {{xmpp}}
{% endif %}{% if skype %}Skype: {{skype}}
{% endif %}{% if icq %}ICQ: {{icq}}
{% endif %}{% if about %}
{{about}}
{% endif %}
https://{{login|lower}}.{{settings.domain}}/
{% include "uk/text/posts.tmpl" %}