Чёрный список обновлён.
{% if added %}Добавлены: {{ added|map('login')|join(", ") }}.{% endif %}{% if already %}
Уже в списке: {{ already|map('login')|join(", ") }}.{% endif %}{% if denied %}
Не можете добавить: {{ denied|map('login')|join(", ") }}.{% endif %}{% if deleted %}
Удалены: {{ deleted|map('login')|join(", ") }}.{% endif %}{% if not_deleted %}
Не в списке: {{ not_deleted|map('login')|join(", ") }}.{% endif %}{% if not_found %}
Не найдены: {{ not_found|map('login')|join(", ") }}.{% endif %}