@{{author}}{% if to_comment_id %} в ответ на #{{post_id}}/{{to_comment_id}}{% endif %}:
{% if to_text %}{% if to_text|count > 128 %}{{to_text[:125]|quote|safe}}...{% else %}{{to_text|quote|safe}}{% endif %}{% endif %}

{{text|safe}}{% if files %}
{% for f in files %}http{{settings.media_root}}/{{f}}
{% endfor %}{% endif %}
#{{post_id}}/{{comment_id}} https://{{settings.domain}}/{{post_id}}#{{comment_id}}
