Кто-то запросил восстановление пароля от Вашего аккаунта. Если это были Вы, пройдите по ссылке: https://{{settings.domain}}/remember/{{code}}
Если нет — просто игнорируйте это сообщение.

Внимание: по этой ссылке любой человек может получить доступ к Вашему аккаунту без пароля. Никому не давайте эту ссылку!