{% if subscriptions %}Вы подписаны на:
{% for u in subscriptions %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if subscribers %}

На вас подписаны:
{% for u in subscribers %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if in_req %}

Запросы на подписку:
{% for u in in_req %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if out_req %}

Запросы на подписку от вас:
{% for u in out_req %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if tags %}

Теги:
{% for tt in tags %}{% for t in tt.tags %}*{{t}}{% if not loop.last %}, {% endif %}{% endfor %}{% if tt.login %} пользователя @{{tt.login}}{% endif %}{% if loop.last %}.{% else %};{% endif %}
{% endfor %}{% endif %}{% if not subscriptions and not subscribers and not in_req and not out_req and not tags %}Вы ещё ни на кого не подписаны.{% endif %}
