{% for u in to_users %}<a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=@{{ u }}%20" style="color:#4488ff; font-weight:bold; text-decoration:none;">@{{ u }}</a> {% endfor %} {% if to_users|count > 1 %}запрошаныя{% else %}запрошаны{% endif %} ў <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=%23{{post_id}}%20" style="color:#448844; font-weight:bold; text-decoration:none;">#{{post_id}}</a>.