Вітаем! Вы паспяхова зарэгістраваліся як <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=@{{login}}%20" style="color:#4488ff; font-weight:bold; text-decoration:none;">@{{login}}</a>. Што далей?</p>

<p>Спачатку можна праглядзець допісы на тэмы, што вас цікаўляць. Каманда <code>*цэтлік</code> пакажа апошнія допісы з гэтым цэтлікам.</p>

<p>Для спрашчэння ўводу некаторых каманд Вы можаце ўключыць вывад у фармаце XHTML-IM*, тады базавыя каманды можна будзе ўводзіць, проста клікаючы па спасылках. Для гэтага проста дашліце боту каманду:<br/>
  <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=set%20xhtml%20on">set xhtml on</a></p>

<p>Для адаключэння гэтага рэжыму, адпаведна<br/>
  <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=set%20xhtml%20off">set xhtml off</a></p>

  <p style="color:#808080"><i>* Не ўсе кліенты разумеюць гэты фармат. На цяперашні час карэктная работа гарантуецца толькі ў Psi+ і LeechCraft Azoth.</i></p>

<p>Можна проста пачаць пісаць — адвольны тэкст стварае допіс.</p>

<p>Таксама можна дадаваць да допісаў цэтлікі. Напрыклад:<br/>

<code>**hello world, point<br/>
Прывітанне, я @{{login}}.</code></p>

<p>Таксама можна дасылаць асабістыя паведамленні карыстальніку:<br/>
  <code>P @username Я зарэгістраваўся. На каго тут падпісацца?</code></p>

<p>Падпісацца на карыстальніка можна з дапамогай каманды:<br/>
  <code>S @username</code></p>

<p>Паглядзець інфармацыю пра карыстальніка:<br/>
  <code>@username</code></p>

<p>Допісы маюць сімвальныя ідэнтыфікатары. Каб прачытаць тэкст, трэба проста даслаць боту яго ID:<br/>
  <code>#abcdef</code></p>

<p>Напісаць каментарый да допіса:<br/>
  <code>#abcdef не згодны з аўтарам; жыццё мае крэацыянісцкія вытокі.</code></p>

<p>Адказаць на каментарый:<br/>
  <code>#abcdef/1 якія доказы тваім словам?</code></p>

<p>Выдаліць каментарый:<br/>
  <code>D #abcdef/5</code></p>

<p>Выдаліць допіс:<br/>
  <code>D #abcdef</code></p>

<p>Праглядзець каментарыі да паста:<br/>
  <code>#abcdef++</code></p>

<p><code>#abcdef+</code> пакажа толькі 10 апошніх каментарыяў.</p>

<p>Допісы ці каментарыі можна рэкамендаваць:<br/>
  <code>! #abcdef/1 Паглядзіце, які крэацыяніст.</code></p>

<p>Поўны пералік каманд Вы можаце праглядзець, даслаўшы боту каманду <code>help</code>, ці на <a href="https://{{settings.domain}}/help/commands">гэтай старонцы</a>.</p>

<p>Для таго, каб увайсці на сайт пад сваім імем, дашліце боту каманду <code>login</code> і перайдзіце па спісылцы.</p>

<p>Змяніць наладкі можна <a href="https://{{settings.domain}}/profile">тут</a>.</p>