<div class="row">
    <div class="label"></div>
    <div class="value">
        <p>
            Или войдите, используя Ваш аккаунт в одном из сервисов:
        </p>
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;fields=nickname,first_name,last_name,photo_big;optional={{ fields|join(',') }};providers=facebook,vkontakte,yandex,google,twitter,openid;hidden=mailru,linkedin,flickr,lastfm,steam,livejournal,instagram;redirect_uri=https%3A%2F%2F{{settings.domain}}%2Fulogin"></div>
    </div>
</div>
