{% extends "/base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//{{settings.domain}}/css/profile.css"/>
{% endblock %}

{% block left_menu %}{% endblock%}

{% block content %}
<div>
    {% if errors %}
    <ul class="errors">
        {% for e in errors %}
        {% if e=='credentials' %}<li>Неверный логин или пароль.</li>{% endif %}
        {% if e=='ulogin-fail' %}<li>
            Не удалось связаться с сервером uLogin.
            Повторите попытку позже или войдите, используя Ваши логин и пароль на Point.
        </li>{% endif %}
        {% endfor %}
        {% if settings.debug %}<!--{{errors}}-->{% endif %}
    </ul>
    {% endif %}
    {% if saved %}
    <div class="saved">Профиль обновлён.</div>
    {% endif %}
    <form action="/login" method="post">

        <h1>Вход</h1>

        <div class="row">
            <div class="label">Ник</div>
            <div class="value"><input type="text" name="login" value=""/></div>
        </div>

        <div class="row">
            <div class="label">Пароль</div>
            <div class="value"><input type="password" name="password" value=""/></div>
        </div>
        <input type="hidden" name="referer" value="{{referer}}"/>

        <div class="row">
            <input type="submit" value="Войти"/>
            <a class="remember" href="/remember">Забыли пароль?</a>
        </div>

        {% include "/auth/_ulogin.html" %}
    </form>
</div>
{% endblock %}
