{% extends "/base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//{{settings.domain}}/css/profile.css"/>
{% endblock %}

{% block left_menu %}{% endblock%}

{% block content %}
<div>
    {% if errors %}
    <ul class="errors">
        {% for e in errors %}
        {% if e=='password' %}<li>Введите пароль.</li>{% endif %}
        {% if e=='confirm' %}Новый пароль и подтверждение не совпадают{% endif %}
        {% endfor %}
        {% if settings.debug %}<!--{{errors}}-->{% endif %}
    </ul>
    {% endif %}
    {% if saved %}
    <div class="saved">.</div>
    {% endif %}
    <form action="?" method="post">

        <h1>Восстановление пароля</h1>

        <div class="row">
            <div class="label">Новый пароль</div>
            <div class="value"><input type="password" name="password" value=""/></div>
        </div>
        <div class="row">
            <div class="label">Ещё раз</div>
            <div class="value"><input type="password" name="confirm" value=""/></div>
        </div>

        <div class="row">
            <input type="submit" value="Дальше"/>
        </div>
    </form>
</div>
{% endblock %}
