{% extends "/base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//{{settings.domain}}/css/profile.css"/>
<script>
$(function(){
    var $login = $('#login-input');
    var $hi1 = $('#hi1');
    var $hi2 = $('#hi2');
    $login.on('input', function(){
        $hi1.val($login.val());
    });
    var t = 0; setInterval(function(){ $hi2.val(t++); }, 1000);
});
</script>
{% endblock %}

{% block left_menu %}{% endblock%}

{% block content %}
<div>
    <h1>Регистрация</h1>

    {% include "/auth/_errors.html" %}

    <form id="profile-form" action="/register" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="label">Ник</div>
            <div class="value"><input type="text" id="login-input" name="login" required="required" value="{{ info.login }}"/></div>
        </div>

        <div class="row">
            <div class="label">Пароль</div>
            <div class="value"><input type="password" name="password" value=""/></div>
        </div>
        <div class="row">
            <div class="label">Ещё раз</div>
            <div class="value"><input type="password" name="confirm" value=""/></div>
        </div>

        <div class="row">
            <div class="label">Введите текст с&nbsp;картинки</div>
            <div class="value">
                <script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k={{settings.recaptcha_public_key}}"></script>
                <noscript>
                    <iframe src="//www.google.com/recaptcha/api/noscript?k={{settings.recaptcha_public_key}}" height="300" width="500" frameborder="0"></iframe><br>
                    <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
                </noscript>
            </div>
        </div>

        {% include "/auth/_info.html" %}
        </div>

        <div class="row">
            <div class="label"></div>
            <div class="value">
                <br/><br/>
                <i>Регистрируясь на point.im, Вы автоматически принимаете <a href="//{{settings.domain}}/tos">Правила использования</a>.</i>
            </div>
        <div class="row">
            <div class="label"></div>
            <div class="value">
                <input type="submit" value="Зарегистрироваться"/>
            </div>
        </div>
        <input type="hidden" name="hi1" id="hi1">
        <input type="hidden" name="hi2" id="hi2">
    </form>

    {% include "/auth/_ulogin.html" %}
</div>
{% endblock %}
