{% extends "/base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//{{settings.domain}}/css/profile.css"/>
<script>
$(function(){
    var $login = $('#login-input');
    var $hi1 = $('#hi1');
    var $hi2 = $('#hi2');
    $login.on('input', function(){
        $hi1.val($login.val());
    });
    var t = 0; setInterval(function(){ $hi2.val(t++); }, 1000);
});
</script>
{% endblock %}

{% block left_menu %}{% endblock%}

{% block content %}
<div>
    <h1>Регистрация</h1>

    {% include "/auth/_errors.html" %}

    <form id="profile-form" action="/register" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="row">
            <div class="label">Ник</div>
            <div class="value"><input type="text" id="login-input" name="login" required value="{{ info.login }}"/></div>
        </div>

        <div class="row">
            <div class="label">Пароль</div>
            <div class="value"><input type="password" name="password" value="" required /></div>
        </div>
        <div class="row">
            <div class="label">Ещё раз</div>
            <div class="value"><input type="password" name="confirm" value="" required /></div>
        </div>

        <div class="row">
            <div class="label">Введите код инвайта</div>
            <div class="value"><input type="text" name="invite" value="" required /></div>
        </div>

        {% include "/auth/_info.html" %}
        </div>

        <div class="row">
            <div class="label"></div>
            <div class="value">
                <br/><br/>
                <i>Регистрируясь на point.im, Вы автоматически принимаете <a href="//{{settings.domain}}/tos">Правила использования</a>.</i>
            </div>
        <div class="row">
            <div class="label"></div>
            <div class="value">
                <input type="submit" value="Зарегистрироваться"/>
            </div>
        </div>
        <input type="hidden" name="hi1" id="hi1">
        <input type="hidden" name="hi2" id="hi2">
    </form>
</div>
{% endblock %}
