{% import 'text_common.tmpl' as common -%}
{{common.comment(post_id, comment_id, comment_to, to_comment_id, author, text, files, '', settings)-}}
{% if to_comment_id %} у адказ на /{{to_comment_id}}{% endif %}