Карыстальнік @{{user}} дадаў Ваш JID у спіс сваіх акаўнтаў на https://{{settings.domain}}/ .
Калі гэта былі не Вы, проста праігнаруйце гэта паведамленне.
Калі Вы жадаеце пацвердзіць дадаванне акаўнта, дашліце з ужо даданага акаўнта наступную каманду:

confirm {{code}}

Ці перайдзіце па спасылцы: https://{{settings.domain}}/profile/accounts/confirm/{{code}}