Вітаем! Вы паспяхова зарэгістраваліся як @{{login}}. Што далей?

Спачатку можна праглядзець допісы на тэмы, што вас цікаўляць. Каманда "*цэтлік" пакажа апошнія допісы з гэтым цэтлікам.

Для спрашчэння ўводу некаторых каманд Вы можаце ўключыць вывад у фармаце XHTML-IM*, тады базавыя каманды можна будзе ўводзіць, проста клікаючы па спасылках. Для гэтага проста дашліце боту каманду:
  set xhtml on

Для адаключэння гэтага рэжыму, адпаведна
  set xhtml off

  * Не ўсе кліенты разумеюць гэты фармат. На цяперашні час карэктная работа гарантуецца толькі ў Psi+ і LeechCraft Azoth.

Можна проста пачаць пісаць — адвольны тэкст стварае допіс.
Таксама можна дадаваць да допісаў цэтлікі. Напрыклад:

**hello world, point
Прывітанне, я @{{login}}.

Таксама можна дасылаць асабістыя паведамленні карыстальніку:
  P @username Я зарэгістраваўся. На каго тут падпісацца?

Падпісацца на карыстальніка можна з дапамогай каманды:
  S @username

Паглядзець інфармацыю пра карыстальніка:
  @username

Допісы маюць сімвальныя ідэнтыфікатары. Каб прачытаць тэкст, трэба проста даслаць боту яго ID:
  #abcdef

Напісаць каментарый да допіса:
  #abcdef не згодны з аўтарам; жыццё мае крэацыянісцкія вытокі.

Адказаць на каментарый:
  #abcdef/1 якія доказы тваім словам?

Выдаліць каментарый:
  D #abcdef/5

Выдаліць допіс:
  D #abcdef

Праглядзець каментарыі да паста:
  #abcdef++

#abcdef+ пакажа толькі 10 апошніх каментарыяў.

Допісы ці каментарыі можна рэкамендаваць:
  ! #abcdef/1 Паглядзіце, які крэацыяніст.

Поўны пералік каманд Вы можаце праглядзець, даслаўшы боту каманду help, ці на гэтай старонцы: https://{{settings.domain}}/help/commands

Для таго, каб увайсці на сайт пад сваім імем, дашліце боту каманду login і перайдзіце па спісылцы.

Змяніць наладкі можна тут: https://{{settings.domain}}/profile
