Хтосьці запытвае аднаўленне пароля ад Вашага акаўнта. Калі гэта Вы, прайдзіце па спасылцы: https://{{settings.domain}}/remember/{{code}}
Калі не — проста праігнаруйце гэта паведамленне.

Увага: па гэтай спасылцы любы можа атрымаць доступ да вашага акаўнта без пароля. Нікому не давайце гэту спасылку!