{% if subscriptions %}Вы падпісаныя на:
{% for u in subscriptions %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if subscribers %}

На вас падпісаныя:
{% for u in subscribers %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if in_req %}

Запыты пра падпіску:
{% for u in in_req %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if out_req %}

Запыты пра падпіску ад вас:
{% for u in out_req %}@{{u.login}}{% if loop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}{% if tags %}

Цэтлікі:
{% for tt in tags %}{% for t in tt.tags %}*{{t}}{% if not loop.last %}, {% endif %}{% endfor %}{% if tt.login %} карыстальніка @{{tt.login}}{% endif %}{% if loop.last %}.{% else %};{% endif %}
{% endfor %}{% endif %}{% if not subscriptions and not subscribers and not in_req and not out_req and not tags %}Вы пакуль што ні на каго не падпісаныя.{% endif %}
