<p style="margin:0"><a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=@{{author}}%20" style="color:#4488ff; font-weight:bold; text-decoration:none;">@{{author}}</a></p>
<p style="margin:0">
{{text|xhtmlim|safe}}
</p>
{% if files %}
<p>
{% for f in files %}
<a href="http{{settings.media_root}}/{{f}}">{{f|basename}}</a><br/>
{% endfor %}
</p>
{% endif %}
<p style="margin:0">
<a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=%23{{post_id}}%2f{{comment_id}}%20@{{author}},%20" style="color:#448844; font-weight:bold; text-decoration:none;">#{{post_id}}/{{comment_id}}</a> 
<a href="https://{{settings.domain}}/{{post_id}}#{{comment_id}}">{{settings.domain}}/{{post_id}}#{{comment_id}}</a>
{% if to_comment_id %}in response to <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=%23{{post_id}}%2f{{to_comment_id}}%20" style="color:#448844; font-weight:bold; text-decoration:none;">/{{to_comment_id}}</a>{% endif %}
</p>
