<p>Поздравляем! Вы успешно зарегистрировались как <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=@{{login}}%20" style="color:#4488ff; font-weight:bold; text-decoration:none;">@{{login}}</a>. Что дальше?</p>

<p>Для начала можно посмотреть посты на интересующие Вас темы. Команда <code>*тег</code> покажет последние посты с этим тегом.</p>

<p>Для упрощения ввода некоторых команд Вы можете включить отображение в формате XHTML-IM*, тогда базовые команды можно будет вводить, просто кликая по ссылкам. Для этого просто отправьте боту команду:<br/>
  <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=set%20xhtml%20on">set xhtml on</a></p>

<p>Для отключения этого режима, соответственно<br/>
  <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=set%20xhtml%20off">set xhtml off</a></p>

  <p style="color:#808080"><i>* Не все клиенты понимают этот формат. На данный момент корректная работа гарантируется только в Psi+ и LeechCraft Azoth.</i></p>

<p>Можно просто начать писать — произвольный текст создаст пост.</p>

<p>Также можно добавлять к постам теги. Например:<br/>

<code>**hello world, point<br/>
Здрасте, я @{{login}}.</code></p>

<p>Также можно отправить личное сообщение другому пользователю:<br/>
  <code>P @username Я зарегистрировался. На кого тут подписаться?</code></p>

<p>Подписаться на пользователя можно командой:<br/>
  <code>S @username</code></p>

<p>Посмотреть информацию о пользователе:<br/>
  <code>@username</code></p>

<p>Посты имеют буквенные идентификаторы. Чтобы прочитать пост, нужно просто отправить боту его ID:<br/>
  <code>#abcdef</code></p>

<p>Написать комментарий к посту:<br/>
  <code>#abcdef не согласен с автором; жизнь имеет креационистские истоки.</code></p>

<p>Ответить на комментарий:<br/>
  <code>#abcdef/1 имеются ли твоим словам доказательства?</code></p>

<p>Удалить комментарий:<br/>
  <code>D #abcdef/5</code></p>

<p>Удалить пост:<br/>
  <code>D #abcdef</code></p>

<p>Посмотреть комментарии к посту:<br/>
  <code>#abcdef++</code></p>

<p><code>#abcdef+</code> покажет только последние 10 комментариев.</p>

<p>Посты или комментарии можно рекомендовать:<br/>
  <code>! #abcdef/1 Посмотрите, какой креационист.</code></p>

<p>Полный список команд Вы можете посмотреть, отправив боту команду help, или на <a href="https://{{settings.domain}}/help/commands">этой странице</a>.</p>

<p>Для того, чтобы зайти на сайт под своим именем, отправьте боту команду <code>login</code> и пройдите по ссылке.</p>

<p>Изменить настройки можно <a href="https://{{settings.domain}}/profile">здесь</a>.</p>
