<p>П{% if private %}риватний п{% endif %}ост <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=%23{{post_id}}%20" style="color:#448844; font-weight:bold; text-decoration:none;">#{{post_id}}</a> надіслано.</p>
<a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=%23{{post_id}}+%20" style="color:#448844; font-weight:bold; text-decoration:none;" title="Останні 10 коментарів">[+]</a>
<a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=%23{{post_id}}++%20" style="color:#448844; font-weight:bold; text-decoration:none;" title="Усі коментарі">[++]</a>
<a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=D%20%23{{post_id}}" style="color:#448844; font-weight:bold; text-decoration:none;" title="Видалити">[D]</a>
<a href="https://{{settings.domain}}/{{post_id}}">https://{{settings.domain}}/{{post_id}}</a>