<p>Вітаємо! Ви успішно зареєструвалися як <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=@{{login}}%20" style="color:#4488ff; font-weight:bold; text-decoration:none;">@{{login}}</a>. Що далі?</p>

<p>Спочатку можна переглянути пости на теми, які Вас цікавлять. Команда <code>*тег</code> покаже останні пости з цим тегом.</p>

<p>Для спрощення вводу деяких команд Ви можете увімкнути відображення у форматі XHTML-IM*, тоді базові команди можна буде вводити, лише клікаючи по посиланням. Для цього просто надішліть боту команду:<br/>
  <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=set%20xhtml%20on">set xhtml on</a></p>

<p>Для відключення цього режиму, відповідно<br/>
  <a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=set%20xhtml%20off">set xhtml off</a></p>

  <p style="color:#808080"><i>* Не усі клиєнти розуміють цей формат. На теперішній час коректна работа гарантується лише у Psi+ та LeechCraft Azoth.</i></p>

<p>Можна просто почати писати — довільний текст створює пост.</p>

<p>Також можна додавати до постів теги. Наприклад:<br/>

<code>**hello world, point<br/>
Привіт, я @{{login}}.</code></p>

<p>Також можна відправляти особисті повідомлення користувачу:<br/>
  <code>P @username Я зареєструвався. На кого тут підписатися?</code></p>

<p>Підписатися на користувача можна за допомогою команди:<br/>
  <code>S @username</code></p>

<p>Подивитися інформацію про користувача:<br/>
  <code>@username</code></p>

<p>Пости мають символьні ідентифікатори. Щоб прочитати пост, потрібно просто відправити боту его ID:<br/>
  <code>#abcdef</code></p>

<p>Написати комментар до поста:<br/>
  <code>#abcdef не згодний з автором; життя має креаціоністські витоки.</code></p>

<p>Відповісти на коментар:<br/>
  <code>#abcdef/1 які докази твоїм словам?</code></p>

<p>Видалити комментар:<br/>
  <code>D #abcdef/5</code></p>

<p>Видалити пост:<br/>
  <code>D #abcdef</code></p>

<p>Переглянути коментарі до поста:<br/>
  <code>#abcdef++</code></p>

<p><code>#abcdef+</code> покаже лише 10 останніх комментарів.</p>

<p>Пости або коментарі можна рекомендувати:<br/>
  <code>! #abcdef/1 Подивіться, який креаціоніст.</code></p>

<p>Повний перелік команд Ви можете переглянути, надіславши боту команду <code>help</code>, або на <a href="https://{{settings.domain}}/help/commands">цій сторінці</a>.</p>

<p>Для того, щоб зайти на сайт під своїм ім'ям, надішліть боту команду <code>login</code> та перейдіть за посиланням.</p>

<p>Змінити налаштування можна <a href="https://{{settings.domain}}/profile">тут</a>.</p>