<a href="xmpp:{{settings.xmpp_jid}}?message;type=chat;body=@{{login}}%20" style="color:#4488ff; font-weight:bold; text-decoration:none;">@{{login}}</a><br/>
{% if realname %}Ім'я: {{realname}}<br/>{% endif %}
{% if birthdate %}Дата народження: {{birthdate|strftime('%d.%m.%Y')}}<br/>{% endif %}
{% if location %}Місце: {{location}}<br/>{% endif %}
{% if homepage %}Сайт: {{homepage}}<br/>{% endif %}
{% if xmpp %}Jabber ID: {{xmpp}}<br/>{% endif %}
{% if skype %}Skype: {{skype}}<br/>{% endif %}
{% if icq %}ICQ: {{icq}}<br/>{% endif %}
{% if about %}<br/>{{about|xhtmlim|safe}}<br/>{% endif %}
<a href="https://{{login|lower}}.{{settings.domain}}/">https://{{login|lower}}.{{settings.domain}}/</a><br/>
{% include "uk/xhtml/posts.tmpl" %}