Пользователь @{{user}} добавил Ваш JID в список своих аккаунтов на https://{{settings.domain}}/ .
Если это были не Вы, просто игнорируйте это сообщение.
Если Вы хотите подтвердить добавление аккаунта, отправьте с уже добавленного аккаунта следующую команду:

confirm {{code}}

Либо пройдите по ссылке: https://{{settings.domain}}/profile/accounts/confirm/{{code}}