{% import 'text_common.tmpl' as common -%}
@{{author}} recommends: {% if text %}{{text|safe}}{% endif %}
{{common.post(post_author, tags, title, post_text, link, files, settings)-}}
{% if comments %}
{{comments}} comments{% endif %}
#{{post_id}}{% if comment_id %}/{{comment_id}}{% endif %} https://{{settings.domain}}/{{post_id}}{% if comment_id %}#{{comment_id}}{% endif %}
