Поздравляем! Вы успешно зарегистрировались как @{{login}}. Что дальше?

Для начала можно посмотреть посты на интересующие Вас темы. Команда "*тег" покажет последние посты с этим тегом.

Для упрощения ввода некоторых команд Вы можете включить отображение в формате XHTML-IM*, тогда базовые команды можно будет вводить, просто кликая по ссылкам. Для этого просто отправьте боту команду:
  set xhtml on

Для отключения этого режима, соответственно
  set xhtml off

  * Не все клиенты понимают этот формат. На данный момент корректная работа гарантируется только в Psi+ и LeechCraft Azoth.

Можно просто начать писать — произвольный текст создаст пост.
Также можно добавлять к постам теги. Например:

**hello world, point
Здрасте, я @{{login}}.

Также можно отправить личное сообщение другому пользователю:
  P @username Я зарегистрировался. На кого тут подписаться?

Подписаться на пользователя можно командой:
  S @username

Посмотреть информацию о пользователе:
  @username

Посты имеют буквенные идентификаторы. Чтобы прочитать пост, нужно просто отправить боту его ID:
  #abcdef

Написать комментарий к посту:
  #abcdef не согласен с автором; жизнь имеет креационистские истоки.

Ответить на комментарий:
  #abcdef/1 имеются ли твоим словам доказательства?

Удалить комментарий:
  D #abcdef/5

Удалить пост:
  D #abcdef

Посмотреть комментарии к посту:
  #abcdef++

#abcdef+ покажет только последние 10 комментариев.

Посты или комментарии можно рекомендовать:
  ! #abcdef/1 Посмотрите, какой креационист.

Полный список команд Вы можете посмотреть, отправив боту команду help, или на этой странице: https://{{settings.domain}}/help/commands

Для того, чтобы зайти на сайт под своим именем, отправьте боту команду login и пройдите по ссылке.

Изменить настройки можно здесь: https://{{settings.domain}}/profile
